.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
#all { -webkit-transform-origin: 0 0;
 -o-transform-origin: 0 0;
 -ms-transform-origin: 0 0;
 -moz-transform-origin: 0 0;
 transform-origin: 0 0; }

@font-face {
  font-family: MullerBlack;
  src: url(../fonts/MullerBlack.ttf);
}

@font-face {
  font-family: MullerBold;
  src: url(../fonts/MullerBold.ttf);
}

@font-face {
  font-family: MullerRegular;
  src: url(../fonts/MullerRegular.ttf);
}

@font-face {
  font-family: ALSRubl;
  src: url("../fonts/ALSRubl.ttf");
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: url(../images/bg_pattern.gif);
}

a {
  text-decoration: none;
}

.muller_regular {
  font-family: MullerRegular, Verdana, sans-serif;
}

.muller_bold {
  font-family: MullerBold, Verdana, sans-serif;
}

.muller_black {
  font-family: MullerBlack, Verdana, sans-serif;
}

.rouble {
  font-family: ALSRubl;
}

.green {
  color: #2e5c5c;
}

.red {
  color: #bb0b39;
}

.white {
  color: #fff;
}

.striked {
  text-decoration: line-through;
}

.hut {
  position: relative;
  width: 100%;
  height: 648px;
  background: url(../images/hut.jpg) no-repeat center top;
  .header {
    position: relative;
    width: 50px;
    height: 648px;
    margin: 0 auto;
    z-index: 10;
    .image {
      position: absolute;
      width: 697px;
      height: 520px;
      background: url(../images/hut_header.png) no-repeat;
      margin-top: 350px;
      left:-323px;
    }
    .shadow {
      position: absolute;
      width: 1024px;
      height: 8px;
      background: url(../images/shadow.png) no-repeat;
      bottom: -8px;
      left: -483px;
    }
  }
}

.timer {
  position: relative;
  width: 100px;
  height: 194px;
  margin: 0 auto;
  .square {
    position: absolute;
    background: #bb0b39;
    width: 100px;
    height: 100px;
    top: 70px;
    border: 0;
    border-radius: 5px;
    .number {
      position: absolute;
      width: 100px;
      top: 10px;
      text-align: center;
      font-family: MullerBlack, Verdana, sans-serif;
      color: #FFFFFF;
      font-size: 60px;
    }
    .title {
      position: absolute;
      width: 100px;
      top: 70px;
      text-align: center;
      font-family: MullerRegular, Verdana, sans-serif;
      color: #FFFFFF;
      font-size: 18px;
    }
  }
  .timer_title {
    position: absolute;
    width: 190px;
    top: 65px;
    font-family: MullerBold, Verdana, sans-serif;
    color: #bb0b39;
    font-size: 35px;
  }
  .days {
    left: -270px;
  }
  .hours {
    left: -120px;
  }
  .minutes {
    right: -120px;
  }
  .seconds {
    right: -270px;
  }
  .title_left {
    left: -510px;
    text-align: right;
  }
  .title_right {
    right: -510px;
    text-align: left;
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 168px;
  background: url(../images/menu_bg.png);
  z-index: 11;
  .logo_container {
    position: relative;
    top: 0;
    width: 50px;
    height: 168px;
    margin: 0 auto;
    .logo {
      position: absolute;
      background: url(../images/logo.png) no-repeat;
      width: 441px;
      height: 95px;
      left: -195px;
      top: 20px;
    }
    .adrs {
      position: absolute;
      text-align:center;
      width: 441px;
      height: 30px;
      left: -195px;
      top: 130px;
    }
    .left {
      position: absolute;
      width: 270px;
      height: 60px;
      left: -535px;
      top: 55px;
      border: 0;
      border-radius: 5px;
      background:url(../images/vk.png) no-repeat center;
    }
    .right {
      position: absolute;
      width: 270px;
      height: 60px;
      line-height: 60px;
      background: #ba0b38;
      right: -535px;
      top: 55px;
      border: 0;
      border-radius: 5px;
      font-family: MullerBold, Verdana, sans-serif;
      font-size: 24px;
      color: #FFFFFF;
      text-align: center;
    }
  }
}
.container_main {
  position: relative;
  width: 50px;
  margin: 0 auto 70px auto;
}
.container {
  position: relative;
  width: 1060px;
  background: #FFFFFF;
  border: 0;
  border-radius: 10px;
  left:-505px;

  padding: 15px 0;
}

.slider {
  width: 1030px;
  margin-left: 36px;
  .slick {
    &-arrow {
      position: absolute;
      width: 33px;
      height: 33px;
      z-index: 2;
      cursor: pointer;
    }
    &-prev {
      left: -15px;
      top: 400px;
      background: url(../images/arrow_left.png) no-repeat;
    }
    &-next {
      right: 23px;
      top: 400px;
      background: url(../images/arrow_right.png) no-repeat;
    }
  }
}

.slider-item {
  &__name {
    font-size: 18px;
    font-family: MullerRegular, Verdana, sans-serif;
  }
  &__image {
    width: 473px;
    height: 711px;
  }
}

.price {
  display: inline-block;
  margin-right: 10px;
  font-size: 36px;
  font-family: MullerBold, Verdana, sans-serif;
  color: #bb0b39;
  &--old {
    color: #2e5c5c;
    text-decoration: line-through;
  }
  &__value {
    display: inline;
  }
  &__currency {
    font-family: ALSRubl;
    display: inline;
  }
}


.promotion {
  position: relative;
  width: 1030px;
  height: 610px;
  margin: 0 15px 0 15px;
  .banner {
    position: absolute;
    width: 935px;
    height: 392px;
    left: 44px;
    background: url(../images/banner.png) no-repeat;
  }
  .banner_top {
    top: -25px;
    background: url(../images/banner.png) no-repeat;
  }
  .banner_bottom {
    top: 335px;
    background: url(../images/banner.png) no-repeat;
    z-index: 5;
  }
}

.transform {
  transform: skewX(-10deg) rotate(-4deg);
}

.form {
  position: relative;
  width: 1030px;
  height: 212px;
  margin: 0 15px 0 15px;
  background: #cecece;
  border: 0;
  border-radius: 5px;
  .item {
    position: absolute;
    width: 415px;
    height: 55px;
    top: 31px;
    border-radius: 5px;
    background: #FFFFFF;
    z-index: 9;
    padding: 0 10px;
    font-family: MullerBold, Verdana, sans-serif;
    font-size: 18px;
  }
  .name {
    left: 31px;
  }
  .mail {
    right: 31px;
  }
  .button {
    position: absolute;
    width: 270px;
    height: 60px;
    line-height: 60px;
    background: #ba0b38;
    left: 385px;
    top: 120px;
    border: 0;
    border-radius: 5px;
    font-family: MullerBold, Verdana, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
  }
}

.contacts {
  position: relative;
  overflow: hidden;
  border: 0;
  border-radius: 5px;
  width: 1030px;
  margin: 0 15px;
  .txt {
    position: relative;
    width: 1030px;
    text-align: center;
    margin: 20px 0;
  }
  .social_container{
  position:relative;
  width:60px;
  height:60px;
  margin:10px auto 0 auto;

  .vk_button{
  position:absolute;
  width:270px;
  height:60px;
  left:-105px;
  border:0;
  border-radius:5px;
  background: url(../images/vk.png) no-repeat center;
  }
  .vk_text{
  position:absolute;
  width:270px;
  height:30px;
  left:-390px;
  top:20px;
  font-size:18px;
  }
  }
}

.banner_top_text_1 {
  position: absolute;
  font-size: 60px;
  text-align: center;
  left: 100px;
  top: 55px;
}

.banner_top_text_2 {
  position: absolute;
  font-size: 50px;
  text-align: center;
  left: 90px;
  top: 260px;
}

.banner_top_text_3 {
  position: absolute;
  font-size: 50px;
  text-align: center;
  left: 570px;
  top: 220px;
}

.banner_bottom_text_1 {
  position: absolute;
  text-align: center;
  font-size: 60px;
  left: 200px;
  top: 65px;
}

.banner_bottom_text_2 {
  position: absolute;
  text-align: center;
  font-size: 26px;
  left: 90px;
  top: 130px;
}

.map {
  margin-top: 20px;
}